<body>
<br/>
<div class="card border-dark shadow-lg p-1 bg-light rounded" style="width: 50%">
    <carousel>
      <slide *ngFor="let prodimage of prodImages">
        <img [src]="prodimage.image" alt="image slide" style="display: block; width: 100%; bo">
      </slide>
    </carousel>
 </div>
<br/>

<div class="card shadow-lg bg-light" style="width: 18rem;">
  <div class="card-body" style="background: lightgray">
    <h5 class="card-title">{{product.productName}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{product.productPrice}}Kr.</h6>
    <p class="card-text">{{product.productDescription}}</p>
    <a href="#" class="card-link">Vis store billeder</a>
    <a href="#" class="card-link">Køb</a>
  </div>
</div>

<br/>
</body>
