<body>
<h1 style="text-align: center">Om Diannas Fleamarket</h1>
<p style="text-align: center; margin-left: 20%; margin-right: 20%">
  Hej jeg hedder Dianna, og jeg elsker at købe og sælge gamle ting.
  Alle ting på siden er mine egne, og alle handler er privathandler.
  Der er desværre ikke direkte købsmuligheder på hjemmesiden.
  Alle handler foregår ved direkte kontakt til mig.
  Hvis du er interesseret i en vare på siden, kan du ringe til mig,
  sende en SMS eller en e-mail. mine kontaktoplysninger står herunder.
  Jeg håber vi snakkes ved. Dianna :-)
</p>
<br>
<div class="card shadow-lg bg-light" style="width: 20%;margin: auto">
  <div class="card-body" style="background: lightgray">
    <h5 class="card-title">Kontakt oplysninger</h5>
    <p class="card-text">Dianna Bomholt</p>
    <p class="card-text">Rahbeks álle 16</p>
    <p class="card-text">6700 Esbjerg</p>
    <p class="card-text">TLF: 26701993</p>
    <p class="card-text">Mail: distbo@gmail.com</p>
  </div>
</div>
</body>
