<body>
  <button routerLink="">Home</button>
  <form [formGroup]="updateProductForm" (ngSubmit)="save()">
    <div  style="text-align: center;">
  <label>
    <p>Product Name:</p>
    <input style="background: darkgray" type="text" formControlName="productName">
  </label>
      <br />
      <br />
  <label>
    <p>Product price:</p>
    <input style="background: darkgray" type="number" formControlName="productPrice">
  </label>
      <br />
      <br />
  <label>
    <p>Product Description:</p>
    <input style="background: darkgray" type="text" formControlName="productDescription">
  </label>
      <br />
      <br />
  <label>
    <p>Main Picture Url:</p>
    <input style="background: darkgray" type="text" formControlName="mainPictureString">
  </label>
      <br />
      <br />
  <button type="submit" >Save</button>
  </div>
  </form>
</body>
