
<body>
<button routerLink="/products">Back</button>

<form [formGroup]="productForm" (ngSubmit)="save()">

  <label style="float: left">
    Product Name:
    <input type="text" formControlName="productName">
  </label>

  <br />
  <br />

  <label  style="float: left">
    Product price:
    <input type="number" formControlName="productPrice">
  </label>

  <br />
  <br />

  <label  style="float: left">
    Product Description:
    <input type="text" formControlName="productDescription">
  </label>

  <br />
  <br />

  <label  style="float: left">
    Main Picture Url:
    <input type="text" formControlName="mainPictureString">
  </label>

  <br />
  <br />

<div formGroupName="category">
  <label  style="float: left">
    Category:
    <input type="number" formControlName="categoryId">
  </label>

  <br />
  <br />

</div>
  <button type="submit" >Save</button>
</form>
</body>
