<button routerLink="">Home</button>

<form [formGroup]="productForm" (ngSubmit)="save()">

  <label>
    Product Name:
    <input type="text" formControlName="productName">
  </label>

  <label>
    Product price:
    <input type="number" formControlName="productPrice">
  </label>

  <label>
    Product Description:
    <input type="text" formControlName="productDescription">
  </label>

  <label>
    Main Picture Url:
    <input type="text" formControlName="mainPictureString">
  </label>

  <label>
    Product Detail Images-URL's:
    <input type="text" formControlName="productImages">
  </label>
<div formGroupName="category">
  <label>
    Category:
    <input type="number" formControlName="categoryId">
  </label>
</div>
  <button type="submit" >Save</button>
</form>
