
<body>
  <button routerLink="/products">Back</button>

  <form [formGroup]="productForm" (ngSubmit)="save()">
<div  style="text-align: center;">
  <label>
    <p>Product Name:</p>
    <input style="background: darkgray" type="text" formControlName="productName">
  </label>

  <br />
  <br />

  <label>
    <p>Product price:</p>
    <input style="background: darkgray"  type="number" formControlName="productPrice">
  </label>

  <br />
  <br />

  <label>
    <p>Product Description:</p>
    <input style="background: darkgray" type="text" formControlName="productDescription">
  </label>

  <br />
  <br />

  <label>
    <p>Main Picture Url:</p>
    <input style="background: darkgray" type="text" formControlName="mainPictureString">
  </label>

  <br />
  <br />

  <div formGroupName="category">
    <label>
      <p>Category:</p>
    </label>

<form [formGroup]="categoryForm">
  <select [formControlName]="categoryControl">
<option [value]="category" *ngFor="let category of categories">
  {{category}}</option>
  </select>


</form>



      <br />
      <br />
      </div>

  <button type="submit" >Save</button>
    </div>
  </form>
</body>

