<ul class="list-group" *ngIf="products">
  <li class="list-group-item" *ngFor="let product of products">
        Id: {{product.productId}} - Product: {{product.productName}} - Price: {{product.productPrice}} - Description:  {{product.productDescription}}
    <div style="float: right">
        <button routerLink="/updateproduct/{{product.productId}}" class="btn btn-warning">Update</button>
        <button (click)="delete(product.productId)" class="btn btn-danger">Delete</button>
    </div>
  </li>
</ul>

