<body>
<div *ngIf="products">
  <div class="container-fluid">
    <div class="card-deck">
      <div *ngFor="let product of products">

        <div class="card border-dark mb-3" style="width: 14em">
          <img class="card-img-top" style="height: 150px" src={{product.mainPictureString}} alt="Image of {{product.productName}}">
          <div class="card-body">
            <h5 class="card-title">{{product.productName}}</h5>
            <h6 class="card-subtitle">Pris {{product.productPrice}} Kr.</h6>
            <a routerLink="/productdetails/{{product.productId}}" class="btn btn-outline-success" style="width: 100%">Details</a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<h4 *ngIf="!products">Loading.....</h4>
</body>
