

<body>
    <div style="text-align: center;">
  <button class="btn btn-success" routerLink="/addcategory">Add category</button>
  <button class="btn btn-warning" routerLink="/categorylist">Update category</button>
  <button class="btn btn-danger" routerLink="/categorylist">Delete Category</button>
  </div>
  <br />
    <br />
  <div style="text-align: center;">
    <button class="btn btn-success" routerLink="/addproduct">Add product</button>
    <button class="btn btn-warning" routerLink="/productlist">Update product</button>
    <button class="btn btn-danger" routerLink="/productlist">Delete Product</button>
  </div>
    <br />
    <br />
  <div style="text-align: center;">
    <button class="btn btn-success" routerLink="/addproductimage">Add ProductImage</button>
    <button class="btn btn-danger" routerLink="/productimagelist">Delete ProductImage</button>
  </div>
</body>
