<div>
  <div>
  <button routerLink="/addcategory">Add category</button>
  <button routerLink="/categorylist">Update category</button>
  <button routerLink="/categorylist">Delete Category</button>
  </div>

  <div>
    <button routerLink="/addproduct">Add product</button>
    <button routerLink="/productlist">Update product</button>
    <button routerLink="/productlist">Delete Product</button>
  </div>
  <div>
    <button routerLink="/addproductimage">Add ProductImage</button>
    <button routerLink="/productimagelist">Update ProductImage</button>
  </div>
</div>
