.body{
color: darkgreen;
background-color: burlywood;

}

.frontpage-picture-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.container-fluid{
  margin-top: 20px;
}
.card-group{

}
.card{

}

.p {

}


