<div class="body">
  <div class="weather snow">
  <div class="heading-top">
    <h1>Velkommen til Danmarks største handelsplatform!</h1>
    <h3> - Over 70.000 daglige besøgende</h3>
    <iframe width="0" height="0" src="https://www.youtube.com/embed/SFpiOoWFNNg?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <img src="http://funkyimg.com/i/2P9ni.png" class="frontpage-picture-center">
  <div class="new-products">
    <h1 class="text-allign">🎄NYE PRODUKTER!🎄</h1>
<h2> ________________________________________________________________________________________________________________________________________________________ </h2>

  </div>
</div>
</div>



