.container-fluid{
margin-top: 20px;
}
.card-group{

}
.card{

}

.body {
  background-color: burlywood;
  color: darkgreen;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}
